<li class="task">
    <input class="complete" {{#if complete}}checked="checked" {{/if}}type="checkbox"/>
    <input class="description" type="text"
           placeholder="Enter task description..." value="{{description}}"/>
    <button class="delete-button">Delete</button>
</li>